{% extends "base.html" %}
{% block content %}
<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">About Us</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Puwasuru Ihalagedara</h4>
                            <p class="card-text">Faculty of Engineering<br>University of Peradeniya<br>Peradeniya, Sri Lanka</p>
                            <div class="icons"><a href="#"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Sandali Lokuge</h4>
                            <p class="card-text">Faculty of Engineering<br>University of Peradeniya<br>Peradeniya, Sri Lanka</p>
                            <div class="icons"><a href="#"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Shyaman Jayasundara</h4>
                            <p class="card-text">Faculty of Engineering<br>University of Peradeniya<br>Peradeniya, Sri Lanka</p>
                            <div class="icons"><a href="#"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 10px;">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Damayanthi Herath</h4>
                            <p class="card-text">Faculty of Engineering<br>University of Peradeniya<br>Peradeniya, Sri Lanka</p>
                            <div class="icons"><a href="#"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Indika Kahanda</h4>
                            <p class="card-text">Computer Science Department<br>Montana State University<br>Montana, USA</p>
                            <div class="icons"><a href="#"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Buwani Manuweera</h4>
                            <p class="card-text">Computer Science Department<br>Montana State University<br>Montana, USA</p>
                            <div class="icons"><a href="#"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
