{% extends "base.html" %}
{% block content %}
<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">About Us</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Puwasuru Ihalagedara</h4>
                            <p class="card-text">Faculty of Engineering<br>University of Peradeniya<br>Peradeniya, Sri Lanka</p>
                            <p style="font-size: 12px;"><strong>puwasuru.i@eng.pdn.ac.lk</strong></p>
                            <div class="icons"><a target="_blank" href="https://www.linkedin.com/in/puwasuruihalagedara"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Sandali Lokuge</h4>
                            <p class="card-text">Faculty of Engineering<br>University of Peradeniya<br>Peradeniya, Sri Lanka</p>
                            <p style="font-size: 12px;"><strong>sandali.lokuge.1995@eng.pdn.ac.lk</strong></p>
                            <div class="icons"><a href="https://www.linkedin.com/in/sandali-lokuge" target="_blank"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Shyaman Jayasundara</h4>
                            <p class="card-text">Faculty of Engineering<br>University of Peradeniya<br>Peradeniya, Sri Lanka</p>
                            <p style="font-size: 12px;"><strong>jmshyaman@eng.pdn.ac.lk</strong></p>
                            <div class="icons"><a href="https://www.linkedin.com/in/shyaman-jayasundara" target="_blank"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 10px;">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Damayanthi Herath</h4>
                            <p class="card-text">Faculty of Engineering<br>University of Peradeniya<br>Peradeniya, Sri Lanka</p>
                            <p style="font-size: 12px;"><strong>damayanthiherath@eng.pdn.ac.lk&nbsp;</strong><br></p>
                            <div class="icons"><a href="https://www.linkedin.com/in/damayanthi-herath/" target="_blank"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info">
                            <h4 class="card-title">Indika Kahanda</h4>
                            <p class="card-text">Computer Science Department<br>Montana State University<br>Montana, USA</p>
                            <p style="font-size: 12px;"><strong>indika.kahanda@montana.edu&nbsp;</strong><br></p>
                            <div class="icons"><a href="https://www.linkedin.com/in/indikamk" target="_blank"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <div class="card-body info" style="padding: 30px 6px;">
                            <h4 class="card-title">Buwani Manuweera</h4>
                            <p class="card-text">Computer Science Department<br>Montana State University<br>Montana, USA</p>
                            <p style="font-size: 12px;"><strong>buwani.manuweera@student.montana.edu</strong><br></p>
                            <div class="icons"><a href="https://www.linkedin.com/in/bsmanuweera/" target="_blank"><i class="icon-social-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>    
{% endblock %}
