<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>miRNAFinder</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.min.css')}}"> -->
   
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Highlight-Clean.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/smoothproducts.css')}}">
</head>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><img class="img-fluid" src="{{ url_for('static',filename='assets/img/crest.png')}}" width="75rem" style="padding-right: 10px;"><a class="navbar-brand logo" href="#" style="margin-right: 5px;">miRNAFinder</a><img class="img-fluid" src="{{ url_for('static',filename='assets/img/Logo.jpg')}}" style="width: 15%;">
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="resources">Resources</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us">About Us</a></li>
                </ul>
        </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <!-- <script src="{{ url_for('static',filename='assets/js/script.min.js')}}"></script> -->


    <script src="{{ url_for('static',filename='assets/js/smoothproducts.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/theme.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
</body>

</html>