{% extends "base.html" %}
{% block content %}
<main class="page landing-page">
    <section class="clean-block clean-form">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">miRNAFinder</h2>
                <p>Description</p>
            </div>
            <form id="seq-form" action="">
                <div class="form-group"><label for="name">Enter sequence here</label><input class="form-control" type="text" id="sequence" name="sequence" placeholder="saadsad"></div>
                <div class="text-center"><button class="btn btn-outline-primary" id="predict" type="button">Predict</button></div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
