{% extends "base.html" %}
{% block content %}
<main class="page">
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Resources</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box">
                    <h4>Dataset</h4><a class="d-block" href="{{ url_for('resourcesdw', filename='posTrainDataset.fa') }}">Positive training dataset</a><a class="d-block" href="{{ url_for('resourcesdw', filename='negTrainDataset.fa') }}">Negative training dataset</a><a class="d-block" href="{{ url_for('resourcesdw', filename='testDataset.zip') }}">Testing dataset</a></div>
                <div
                    class="col-md-5 feature-box">
                    <h4>Calculated features</h4><a class="d-block" href="{{ url_for('resourcesdw', filename='posTrainDatasetFeat.xlsx') }}">Positive training set</a><a class="d-block" href="{{ url_for('resourcesdw', filename='negTrainDatasetFeat.xlsx') }}">Negative training set</a>
                    <a
                        class="d-block" href="{{ url_for('resourcesdw', filename='testDatasetFeat.zip') }}">Testing set</a>
            </div>
        </div>
        </div>
    </section>
</main>
{% endblock %}
