{% extends "base.html" %}
{% block content %}
<main class="page">
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Resources</h2>
            </div>
            <div class="row justify-content-start">
                <div class="col-md-5 feature-box">
                    <h4>Dataset</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
