.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__/
outputs/
miRNAFinderApp/redis-stable
nohup.out
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
/miRNAFinderApp/dump.rdb
/miRNAFinderApp/celerybeat-schedule
